{{- $isPage := or .IsPage .IsSection -}}
{{- $site := site -}}
{{- $title := cond .IsHome $site.Title (printf "%s | %s" .Title $site.Title) -}}
{{- $desc := cond (ne (len (trim .Description)) 0) .Description (cond $isPage (.Summary | default (printf "%s - %s" .Title $site.Title)) ($site.Params.description)) -}}
{{- $type := cond .IsPage "article" "website" -}}
{{- $images := slice -}}
{{- if .Params.images }}{{ $images = .Params.images }}{{ end -}}
{{- if and (not $images) .Params.cover }}
  {{- with .Params.cover.image }}{{ $images = (slice .) }}{{ end -}}
{{- end -}}
{{- if and (not $images) $site.Params.images }}{{ $images = $site.Params.images }}{{ end -}}

<meta property="og:title" content="{{ $title }}">
<meta property="og:description" content="{{ $desc }}">
<meta property="og:type" content="{{ $type }}">
<meta property="og:url" content="{{ .Permalink }}">
{{- with index $images 0 }}
<meta property="og:image" content="{{ . | absURL }}">
{{- end }}
