{{- $site := site -}}
{{- if .IsPage -}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": {{ (printf "%s" .Title) | jsonify }},
  "datePublished": {{ .PublishDate | time | jsonify }},
  "dateModified": {{ .Lastmod | time | jsonify }},
  "url": {{ .Permalink | jsonify }},
  "description": {{ ( .Description | default (.Summary | default $site.Params.description) ) | jsonify }},
  "author": {
    "@type": "Person",
    "name": {{ ($site.Params.author | default $site.Author.name) | jsonify }}
  }
}
</script>
{{- else -}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": {{ $site.Title | jsonify }},
  "url": {{ $site.BaseURL | jsonify }}
}
</script>
{{- end -}}
